chatbot connect with rag agent part-2.json
{
  "name": "chatbot connect with rag agent part-2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        0
      ],
      "id": "513ee156-91ac-4551-91b4-aa51f79d6453",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "5736c3f1-17bb-47f6-a24c-e52b69de9974",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "t47xiInItYUejvqS",
          "name": "OpenAi account 162"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.email }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "affda349-c06b-401c-960a-dcbaf7708737",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve data when the use ask relevent data about GlobeVista Travels & Tours,Visa Processing Services,Air Ticket Booking,Hotel Reservation Services,Holiday Tour Packages,Car Rental & Transport Services,Customized Trip Planning,Popular Tour Packages,Package Customization,Contact Information and once the is retrieve the answer.",
        "pineconeIndex": {
          "__rl": true,
          "value": "tourandtravelss",
          "mode": "list",
          "cachedResultName": "tourandtravelss"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "0872cc6d-1204-4ac7-9e08-6c87da421902",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "2POO4xyXoegPKG4y",
          "name": "PineconeApi account 40"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        432
      ],
      "id": "4315ced8-c599-470a-9ed2-7b4ee8a02669",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "t47xiInItYUejvqS",
          "name": "OpenAi account 162"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "16919a25-1bfd-4a40-839d-f815c1872481",
      "name": "When chat message received",
      "webhookId": "e1255724-dd0c-431a-953a-6bb383b8f2d7"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3656b17e-88fb-4755-b522-28388bcb96b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f00bba974abf03cb5183d4d65f8a9645a781b04770df6a7d08284fca87d50b3"
  },
  "nodeGroups": [],
  "id": "4lwDuvAVYHFSK7KR",
  "tags": []
}