Rag agent part-1.json
{
  "name": "Rag agent part-1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Bjjlv6td3_mfURpdY-kmOqrTUB6tFbN5",
          "mode": "list",
          "cachedResultName": "Assignment 2",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Bjjlv6td3_mfURpdY-kmOqrTUB6tFbN5"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "95ab8c32-12ad-45f1-9b7a-ea735130d725",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GF3v571PqPhVqot1",
          "name": "Google Drive account 66"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "a4ee2b4b-0742-445a-a557-cdaf03d806d2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GF3v571PqPhVqot1",
          "name": "Google Drive account 66"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "tourandtravelss",
          "mode": "list",
          "cachedResultName": "tourandtravelss"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "55514ddd-1865-422d-aec8-d80333f2fc45",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "2POO4xyXoegPKG4y",
          "name": "PineconeApi account 40"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        208
      ],
      "id": "660eb901-a7cf-4554-9c2f-cb1b4dd77a55",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "t47xiInItYUejvqS",
          "name": "OpenAi account 162"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        208
      ],
      "id": "4f355d3f-cf09-4981-9271-adc5b411d91e",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7970287e-71b8-41e4-be46-4ce26a3e55f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f00bba974abf03cb5183d4d65f8a9645a781b04770df6a7d08284fca87d50b3"
  },
  "nodeGroups": [],
  "id": "BAqJ2xnBFSBbcnRr",
  "tags": []
}